<?xml version="1.0"?>


  <appSettings >
   <!-- <add key ="SiteUrl" value="http://122.180.87.82/MNM/"/>-->
    <add key ="SiteUrl" value="http://localhost:51296/"/>
    
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key ="helplineNumber" value="0124-4702600, 0124-4315960"/>
    <add key="QuotationTemplate" value="C:/Users/nidhi/Source/Workspaces/MakenMake/MakeNMake/Template/InspectionQuote.html"/>    
    <add key="PDfDownloadFiles" value="D:/RoleManagement/"/>
    <add key="CitrusPostUrl" value="https://sandbox.citruspay.com/sslperf/makenmakepayment"/>
    <add key="VanityUrl" value="makenmakepayment"/>
    <add key="CitrusSecretKey" value="526f4e538eede68900551018b1c248bcc0928604"/>
    <add key ="facebookID" value="1676141389339708" />
    <add key="facebookSecretKey" value="6f30767d7e9115ad51c3a128fa4df36b"/>
    <add key ="FbUrl" value="http://localhost:51296/Default.aspx/"/>
  <add key="GmailID" value="216481866208-vh7hr89eofl3eo38mcfist6autkpmr0a.apps.googleusercontent.com"/>
    <add key="GmailIDKey" value="Q2QQpELujT6ghlTK2QCkT1Sm"/>
  
<add key="LinkedInID" value="75unanewimml2s"/>
    <add key="LinkedInSecretKey" value="EpNAtckjJXVGKW5C"/>
  </appSettings>
