<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section requirePermission="false" name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <sectionGroup name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection, DotNetOpenAuth.Core">
      <section name="messaging" type="DotNetOpenAuth.Configuration.MessagingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
      <section name="reporting" type="DotNetOpenAuth.Configuration.ReportingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
      <section name="openid" type="DotNetOpenAuth.Configuration.OpenIdElement, DotNetOpenAuth.OpenId" requirePermission="false" allowLocation="true" />
      <section name="oauth" type="DotNetOpenAuth.Configuration.OAuthElement, DotNetOpenAuth.OAuth" requirePermission="false" allowLocation="true" />
    </sectionGroup>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false">
    <targets>
      <target name="MakenMakeWeb" xsi:type="AsyncWrapper" queueLimit="500" overflowAction="Discard">
        <target xsi:type="File" layout="${date} | ${level} | ${message} " archiveEvery="Day" archiveNumbering="Sequence" maxArchiveFiles="30" archiveAboveSize="5242880" fileName="E:/NEWPROJECT/MakeNMake/MakeNMake/Log\${date:format=yyyyMMdd}.txt" />
      </target>
    </targets>
    <rules>
      <logger enabled="true" name="*" levels="Error,Fatal,Warn,Info,Debug" writeTo="MakenMakeWeb" />
    </rules>
  </nlog>
  <appSettings configSource="app.config"></appSettings>
  <connectionStrings>
   <add name="MakeNMake" connectionString="Data Source=DESKTOP-V8OCCIO\SQLEXPRESS;Initial Catalog=MakeNMake; integrated security= true;connection reset=false;connection lifetime=5;min pool size=5;max pool size=100;Connect Timeout=60" />
     <!--<add name="MakeNMake" connectionString="Data Source=122.180.87.82;Initial Catalog=MakeNMake; uid=rd; password=test@123; connection reset=false;connection lifetime=5;min pool size=5;max pool size=100;Connect Timeout=60"/>-->
  </connectionStrings>


  <system.web>
    <globalization culture="auto" uiCulture="auto" enableClientBasedCulture="true"/>
    <httpHandlers>
      <add verb="*" path="AjaxFileUploadHandler.axd"
        type="AjaxControlToolkit.AjaxFileUploadHandler,
          AjaxControlToolkit"/>
      <remove path="ScriptResource.axd" verb="GET"/>
    </httpHandlers>

    <authentication mode="Forms">
      <forms name=".ASPXFORMSAUTH" loginUrl="Default.aspx"
      protection="All" path="/"  cookieless="UseCookies" defaultUrl="Default.aspx" timeout="30" />
    </authentication>

    <authorization>
      <allow users="?" />
      <deny users="?"/>
    </authorization>

    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="40960" />
    <machineKey validationKey="AutoGenerate,IsolateApps"
                decryptionKey="AutoGenerate,IsolateApps"
                validation="SHA1" decryption="Auto" />
  </system.web>
 
  <system.webServer>
    <handlers>
      <add verb="*" name="ajax" path="AjaxFileUploadHandler.axd"
      type="AjaxControlToolkit.AjaxFileUploadHandler,
          AjaxControlToolkit"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true"></modules>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
